.filmList {
  padding: 20px 100px 0px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.filmItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid darkgray;
  /* box-shadow: 0 4px 8px darkgrey, 0 6px 20px darkgray; */
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  overflow: hidden;
}

.filmItem:hover {
  box-shadow: 0 8px 16px rgb(255, 255, 255), 0 12px 24px rgba(255, 255, 255, 0);
  transform: scale(1.05);
}

.filmTitle {
  font-size: 18px;
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: #000000;
}

.filmImage {
  width: 100%;
  object-fit: cover;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  background-color: #fff;
}
